"""
gunicorn configuration file: http://docs.gunicorn.org

{{ ansible_managed }}
"""
import multiprocessing

preload_app = True
timeout = {{ avacms_gunicorn_timeout }}
bind = "{{ avacms_gunicorn_host }}:{{ avacms_gunicorn_port }}"
pythonpath = "{{ avacms_code_dir }}"

workers = (multiprocessing.cpu_count()-1) * {{ avacms_worker_core_mult }} + {{ avacms_worker_core_mult }}
